<div class="border">
  <h4 class="title">PersonListComponent (/list)</h4>
  <div class="person-list">
    <a *ngFor="let i of persons" routerLink="/list/{{ i.id }}">
      <button type="button" (click)="onClick(i)"><span>{{ i.name }}</span></button>
    </a>
  </div>
  <div class="border">
    <div class="containerData">
    <h4 class="title">PersonDetailComponent (/list)</h4>
   
<div *ngIf="selectedPerson">    <!-- pengecekan kalau memang ada isinya butuh soalnya gaada inisialisasi dulu selectedPerson nya,
                                     kayaknya 'if a:' kayak 'if a == True' di python -->
    <div class="data">email: {{selectedPerson.email}}</div>
    <div class="data">company: {{selectedPerson.company}}</div>
    <div class="data">region:  {{selectedPerson.region}}</div>
    <div class="data">country: {{selectedPerson.country}}</div>

    <a routerLink="/person/{{ selectedPerson.id }}">
        <button type="button"><span>edit</span></button>
      </a>

      <a routerLink="/delete/{{ selectedPerson.id }}">
        <button type="button" (click)="onClick(selectedPerson)"><span>delete</span></button>
      </a>
    <!--
    <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedPerson.name" placeholder="name">
    </div>-->
</div>
</div>
  </div>
</div>
